/*----------------------------------------------
		COLORS:
		white: 			 rgb(255,255,255);	  #fff
		pink: 			 rgb(255,64,129);	  #ff4081
		gray(dark): 	 rgb(33,33,33);		  #212121    //Text main
		gray(medium):    rgb(114,114,114);    #727272
		grey(light):	 rgb(182,182,182);	  #b6b6b6
		indigo:			 rgb(63,81,181); 	  #3F51B5   //BLue Header
		indigo(dark):	 rgb(48,63,159);      #303f9f
		light blue:		 rgb(197,202,233);    #C5CAE9
		
----------------------------------------------*/

/*----------------------------------------------
		BASE
------------------------------------------------*/

body {

}

h1, h2, h3, h4, h5, h6 {

}

ol {
	margin:0;
	padding: 0;
	list-style: none;
}

li {

}
 p {

 }

 a {

 }

 /*----------------------------------------------
*		HEADER
------------------------------------------------*/

.hero {
	background-color: rgb(63,81,181);
	color: rgb(255,255,255);
	padding: 20px 0;
	text-align: center;
	margin-bottom: 60px;
}

 /*----------------------------------------------
*		Logo
------------------------------------------------*/

.logo{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

 /*----------------------------------------------
*		NEWS
------------------------------------------------*/

.news-item {
	border-bottom: 1px solid rgb(182,182,182);
	margin-bottom: 20px;
	padding-bottom: 20px;

}

.news-link {
	color: rgb(63,81,181);
	font-size: 24px;
}

.news-meta-item {
	display: inline;
	margin-right: 15px;
}

 /*----------------------------------------------
*		Container
------------------------------------------------*/
.container {
	max-width: 800px;
	margin: 0 auto;
}