/*----------------------------------------------
		COLORS:
		white: 			 rgb(255,255,255);	  #fff
		pink: 			 rgb(255,64,129);	  #ff4081
		gray(dark): 	 rgb(33,33,33);		  #212121    //Text main
		gray(medium):    rgb(114,114,114);    #727272
		grey(light):	 rgb(182,182,182);	  #b6b6b6
		indigo:			 rgb(63,81,181); 	  #3F51B5   //BLue Header
		indigo(dark):	 rgb(48,63,159);      #303f9f
		light blue:		 rgb(197,202,233);    #C5CAE9
		
----------------------------------------------*/

/*----------------------------------------------
		BASE
------------------------------------------------*/

body {

}

h1, h2, h3, h4, h5, h6 {

}

ol {

}

li {

}
 p {

 }

 a {

 }